.BoardCell {
	width: 3em;
	height: 3em;
	position: relative;
}

.BoardCell > .BoardCell-sleeve {
	width: 100%;
	height: 100%;
	background-image: radial-gradient(
		transparent 0,
		transparent 1.35em,
		hsl(220, 80%, 40%) 1.35em
	);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.BoardCell > .BoardCell-piece {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.BoardCell > .BoardCell-piece > .Piece {
	animation: 0.25s drop ease-in;
}

@keyframes drop {
	from {
		transform: translateY(-600%);
	}

	to {
		transform: translateY(0);
	}
}
